/* topnav of contacts and index */
#topnav {
  background-color: rgb(56, 156, 206);
  color: #fff;
  height: 32px;
  padding-top: 5px;
}

#topnav li {
  display: inline-block;
  color: white;
  font-family: "K2D", sans-serif;
  width: 100px;
  height: 32px;
  text-align: center;
}

#topnav li:hover {
  color: rgb(250, 136, 60);
  background-color: rgb(241, 241, 241);
}

#topnav .currentPage {
  color: rgb(13, 226, 116);
}

/* paragraph's heading's class name is p-heading */
.p-heading {
  font-family: "K2D", sans-serif;
  font-size: 25;
  padding-top: 50px;
  padding-left: 16px;
  text-align: left;
}

/* Top title of the contact page: */
.titleInContact {
  text-align: center;
  vertical-align: bottom;
  font-family: "K2D", sans-serif;
  font-size: 75px;
  color: rgb(250, 40, 40);
}
